.boxed-view {
    align-items: center;
    background: $boxed_view_overlay_bg;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.boxed-view--modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: fade-out($boxed_view_overlay_bg, .3);
}

.boxed-view__box {
    background-color: $boxed_view_box_bg;
    padding: 2.4rem 5rem;
    text-align: center;
    width: 24rem;
    &.wider-box {
        width:30rem;
    }
}

.boxed-view__form {
    display: flex;
    flex-direction: column;
}

.boxed-view__child-container {
    display: flex;
}

.boxed-view__error {
    color: red;
    font-size: $base_font_size - 0.2;
    text-align: justify;
}
