.button {
    background-color: $button_bg;
    border: none;
    color: $button_text_color;
    cursor: pointer;
    font-size: $base_font_size;
    padding: $small_padding;
    margin-bottom: $space;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--pill {
    background-color: transparent;
    border: 1px solid $button_pill_color;
    color: $button_pill_color;
    padding: .3rem .8rem;
    text-transform: capitalize;
    width: 8rem;
}

.button--secondary {
    background-color: $button_secondary_bg;
    color: $button_secondary_color;
    border: 1px solid $button_secondary_border_color;
}

.button--header {
    background-color: none;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    text-transform: capitalize;
}