.button {
    background-color: $button_bg;
    border: none;
    color: $button_text_color;
    cursor: pointer;
    font-size: $base_font_size;
    padding: $small_padding;
    margin-bottom: $space;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--pill {
    background-color: transparent;
    border: 1px solid $button_pill_color;
    color: $button_pill_color;
    padding: .3rem .8rem;
    text-transform: capitalize;
    // width: 8rem;
    &.thicker {
        padding: $small_padding;
    }    
    &.hover-darken:not(.hover-lighten):not(.hover-alt-color):hover{
        transition: border-color .5s ease-in-out, color .5s ease-in-out;
        color: $button_pill_color_darken;
        border-color: $button_pill_color_darken;
    }
    &.hover-lighten:not(.hover-darken):not(.hover-alt-color):hover {
        transition: border-color .5s ease-in-out, color .5s ease-in-out;
        color: $button_pill_color_lighten;
        border-color: $button_pill_color_lighten;        
    }
    &.hover-alt-color:hover{
        transition: background-color .5s ease-in-out, color .5s ease-in-out;
        background-color: $button_pill_color;
        color: ghostwhite;
        border-color: none;
    }
}

.button--secondary {
    background-color: $button_secondary_bg;
    color: $button_secondary_color;
    border: 1px solid $button_secondary_border_color;
    &.hover-alt-color:hover {
        transition: background-color .5s ease-in-out, color .5s ease-in-out;
        background-color: darken($button_secondary_bg, 30%);
        color: ghostwhite;
        border: none;
    }
}

.button--header {
    background-color: none;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    text-transform: capitalize;
}